@import 'config/variables';

.app__privacy_notice{
    max-width: 50em;
    border-radius: 5px;        
    box-shadow: $SHADOW--DARK;
    background-color: $COLOR--ULTRA--LIGHT;      
    grid-auto-columns: 1fr;                
    padding: 1em;     
    gap: 2em;       

    @media screen and (min-width: $SMW) {
        padding: 3em;
    }      

    &__container {
        gap: 0.5em;
        
        .LIST {
            padding-left: 2em;
        }        
    }

    @media screen and (min-wdith: $MDW) {        
        gap: 3em;

        &__container {
            gap: 1em;

            .LIST {
                padding-left: 4em;
            }
        }
    }
}