@import 'config/variables';

.app__sign_up {
    padding: 3em 1.5em;

    &__form__accept_privacy_notice {
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: 1.2em;
        max-width: 14.5em;

        > .CHECKBOX {
            flex-shrink: 0;
        }
    }
}