@import 'config/variables';

.app__ABSTRACT {    
    width: 100%;
    min-height: 100%;
    background-color: $COLOR--ULTRA--LIGHT;   
    grid-template-rows: 100%;  
    overflow: hidden;
    
    &::before {                           
        transform: rotateZ(25deg);
        transform-origin: bottom left;
        box-shadow: inset $SHADOW--DARK;

        content: '';
        position: absolute;
        background-color: $COLOR--LIGHT;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 150%;
    }

    &__content {
        width: 100%;
        height: 100%;        
    }
}