@import 'config/variables';
@import 'config/zindex';

.LOADER {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: $zi-controls--loader;
    background: radial-gradient(rgba($COLOR--ULTRA--LIGHT, 0.7), rgba($COLOR--NEUTRAL, 0.7));
    backdrop-filter: blur(4px);    

    .TEXT {
        font-size: 1.5em;
        font-weight: bold;
    }
}
