@import 'config/variables';

.home__achievements {
    padding: 1.5em;
    background-color: $COLOR--LIGHT;
    grid-template-rows: auto minmax(60%, max-content);
    gap: 2em;

    @media screen and (min-width: $MDW) {
        padding: 3em;
        gap: 4em;
    }

    &__grid {
        max-width: 30em;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        align-self: start;

        @media screen and (min-width: $MDW) {
            max-width: 40em;
        }

        @media screen and (min-width: $XLGW) {
            max-width: 50em;
        }
    }

    &__modal__grid {
        max-width: 120em;
        width: 100%;
        grid-template-columns: 1fr;

        @media screen and (min-width: $MDW) {
            grid-template-columns: 1fr 1fr;
        }
    }
}