@import 'config/variables';
@import 'config/zindex';

.home {
    height: 100%;
    width: 100%;
    background-color: $COLOR--ULTRA--LIGHT;

    @media screen and (min-width: $MDW) {
        &>* {
            min-height: 100%;
        }
    }

    &__floating {
        position: fixed;
        bottom: 2em;
        right: 2em;
        min-height: auto;
        z-index: $zi-home--float_button;

        @media screen and (max-width: $MDW) {
            &.GRID {
                display: none;
            }
        }

        &__button {
            box-shadow: 0 0 5px $COLOR--NEUTRAL;
            border-radius: 100%;
            .ICON {
                width: 2.5em;
                height: 2.5em;
            }
        }
    }

}